
html,

body {
  background-color: #b4b2b2;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  top: 0%;
  left: 0px;

}

.main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}





#main {

 
}


#c2 {}
#myInpText {

  height: 30px;
}


.box-wrapper {
  
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  /*justify-content: space-between;*/
}

#send {
  height: 10px;
}

#change_tie-up {
  height: 10px;
}

#jpg {
  height: 10px;
}

#clean {
  height: 10px;
}

#randombutton {
  height: 10px;
}





canvas {
 
  display: block;

  margin: 20px;
}



.title {
  
  color: #020202;
  font-variant-caps: all-small-caps;
  font-size: 24px;
  letter-spacing: .2rem;
  font-family: system-ui;
  margin: 20px;
  /*position: absolute;
  top: 0%;
  left: 5px;*/
}

.info {
  color: #020202;
  font-size: small;
  font-stretch: 110%;
  letter-spacing: .2rem;
  font-family: system-ui;
  width: 100%;
  text-align: center;
  /*position: relative;
  top: 5%;
  left: 5px;*/
}

.paragraph_0 {
  /*max-width: 100%;*/
  font-size: 16px;
  letter-spacing: .1.75rem;
  text-align: justify;
  font-family: Georgia,
    serif;
  color: #020202;
  /*font-variant-caps: all-small-caps;*/
  /* Change color to your preference */
  line-height: 1.5;
  margin: 10px;
  max-width: 1280px; 
  /*position: absolute;
  top: 92%;
  left: 10px; 640*/
}

.paragraph_1 {
  /*max-width: 100%;*/
  font-size: 12px;
  letter-spacing: .1.75rem;
  text-align: justify;
  font-family: system-ui;
  color: #00C400;
  /*font-variant-caps: all-small-caps;*/
  /* Change color to your preference */
  line-height: 1.5;
  margin: 0px;
  width: 640px;
  /*position: absolute;
  top: 92%;
  left: 10px;*/
}


.noligs {
  font-feature-settings: "liga" 0;
}

.no-optical-sizing {
  font-optical-sizing: none;
}

 .custom-link {
   color: #020202;
   /* Change this to your desired color */
   text-decoration: none;
   /* Remove underline from the link */
 }

