
@media screen and (min-width: 600px) {
html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  top: 0%;
  left: 0px;

}



.main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}


#main {
  height: 630px;
}

#myInpText {
  height: 30px;
}

.box-wrapper {
  
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  /*justify-content: space-between;*/
}

#send {
  height: 10px;
}

#change_tie-up {
  height: 10px;
}

#jpg {
  height: 10px;
}

#clean {
  height: 10px;
}

canvas {
 
  display: block;
  margin: 20px;
}

.title {
  
  color: #00C400;
  font-variant-caps: all-small-caps;
  font-size: 24px;
  letter-spacing: .2rem;
  font-family: system-ui;
  margin: 20px;
  /*position: absolute;
  top: 0%;
  left: 5px;*/
}

.info {
  color: #00C400;
  font-size: small;
  font-stretch: 110%;
  letter-spacing: .2rem;
  font-family: system-ui;
  /*position: relative;
  top: 5%;
  left: 5px;*/
}

.paragraph {
  /*max-width: 100%;*/
  font-size: 12px;
  letter-spacing: .1.75rem;
  text-align: justify;
  font-family: system-ui;
  color: #00C400;
  /*font-variant-caps: all-small-caps;*/
  /* Change color to your preference */
  line-height: 1.5;
  margin: 10px;
  width: 640px;
  /*position: absolute;
  top: 92%;
  left: 10px;*/
}


.noligs {
  font-feature-settings: "liga" 0;
}

.no-optical-sizing {
  font-optical-sizing: none;
}
}